lemonfm.pth
vlp_ckpt.pth
vlp_epoch_*.pt
ckpt*
vlp_final.pt
downloaded_video_224_test
anno_downstream/*
eval_*
surglavi_beta.db
csv_outputs
anno_downstream
auto
cholec80_peska
CholecT50
outputs
.cache
__pycache__/
*.pyc